@import "./reset-addon.css";
@font-face {
    font-family: Borel;
    src: url(../font/Borel-Regular.woff2);
}

:root {
    --shadow-color: 0deg 0% 75%;
    --box-shadow: 0.4px 0.5px 0.7px hsl(var(--shadow-color) / 0.23),
    1.1px 1.4px 2px -0.8px hsl(var(--shadow-color) / 0.23),
    2.5px 3.4px 4.7px -1.7px hsl(var(--shadow-color) / 0.23),
    6.1px 8.2px 11.5px -2.5px hsl(var(--shadow-color) / 0.23),
    -1px -1px 1px 1px hsl(var(--shadow-color) / 0.23);
    --color-primary: black;
    --color-accent: #834122;
    --color-translucent-black: rgb(0 0 0 / 35%);
    --color-link-visited: rgb(250, 100, 250);
}

body {
    display: flex;
    height: 100vh;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    width: 40vw;
   
    >img {
        object-fit: cover;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    .shaded-background {
        position: absolute;
        width: 100%;
        height: auto;
        background: var(--color-translucent-black);
        /* bottom-positioning ensures img focal point can't be clipped by content growing */
        bottom: 64%; 
        display: flex;
        padding: 0.5rem;
     
        .logo-name-pkg {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .logo-container {
            height: 15vh;
        }

        img {
            width: auto;
            height: 100%;
        }

        .company-name {
            color: white;
            font-size: 12vh;
            font-family: "Borel";
            /* Bottom margin offsets padding quirks built in to Borel font */
            margin-bottom: -12vh;
        }

    }

    .img-attribution-container {
        display: flex;
    }

    .img-attribution {
        text-align: center;
        color: white;
        background: var(--color-translucent-black);
        font-size: 0.8rem;
        margin: 0 auto 0.3rem auto;
        padding: 0.15rem 0.65rem;
        border-radius: 30px
    }

    a:link {
        color: white;
    }

    a:visited {
        color: var(--color-link-visited);
    }
}


.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    flex: 1;

    >div {
        padding: 0rem 3rem;
    }

    >div:has(form) {
        height: auto;
        box-shadow: var(--box-shadow);
        /* counteracts the pseudo-padding that text can give to the top of parent containers */
        padding-bottom: 10px; 
    }

    p {
        font-size: 1.5rem;
        font-weight: 700;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        padding: 1rem 0;
        gap: 1rem;

        p {
            font-size: 1.2rem;
            font-weight: 500;
        }

        >div {
            display: flex;
            gap: 3rem;
        }

        .input-label-group {
            display: flex;
            flex-direction: column;
        }

        /* selects labels of required fields */
        label:has(+ input:required):after {
            content: "*";
        }

        input {
            outline: none;
            border: solid 1px #E5E7EB;
            border-radius: 4px;
        }

        input:focus {
            border: 1px solid #3f3fad;
            box-shadow: var(--box-shadow);
        }

        .password-field:invalid {
            border: 1px solid red;
        }
    }

    button {
        background-color: var(--color-primary);
        color: white;
        padding: 0.5rem 3rem;
        border: none;
        box-shadow: var(--box-shadow);
        border-radius: 7px;
    }

    .user-has-account {
        margin: 0.5rem 0;

        &::after {
            content: "Log in";
            color: var(--color-accent);
            font-weight: 500;
        }
    }
}