@import "./reset-addon.css";

.container {
    display: flex;
    height: 100vh;
}

.container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 40vw;
}

img {
  object-fit: cover;
  height: 100%;
}

#form-column {
    flex: 1;
    padding: 5vw;
}

.input-label-group {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    margin: 1rem 0;
    gap: 3rem;
}