@import "./reset-addon.css";

:root {
    --shadow-color: 0deg 0% 75%;
    --box-shadow: 0.4px 0.5px 0.7px hsl(var(--shadow-color) / 0.23),
    1.1px 1.4px 2px -0.8px hsl(var(--shadow-color) / 0.23),
    2.5px 3.4px 4.7px -1.7px hsl(var(--shadow-color) / 0.23),
    6.1px 8.2px 11.5px -2.5px hsl(var(--shadow-color) / 0.23),
    -1px -1px 1px 1px hsl(var(--shadow-color) / 0.23);
    --color-brown-light: #834122;
    --color-brown-dark: #68240f;
    --color-gray-dark: #32373b;
    --color-gray-light: #535c65;
    --color-primary: black;
    --color-accent: var(--color-brown-light);
    --color-translucent-black: rgb(0 0 0 / 25%);
}

body {
    display: flex;
    height: 100vh;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40vw;
        gap: 2rem;
    }
}

#left-column {
    position: relative;

    >img {
        object-fit: cover;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    .shaded-background {
        position: absolute;
        width: 100%;
        height: auto;
        background: var(--color-translucent-black);
        bottom: 64%; /* 'bottom' ensures img focal point can't be clipped by content growing */
        display: flex;
     
        #logo-name-pkg {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .logo-container {
            height: 5rem;
        }

        img {
            width: auto;
            height: 100%;
        }

        #company-name {
            color: white;
            font-size: 4rem;
        }

    }

    .img-attribution {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 1%;
    }
}


#right-column {
    flex: 1;

    >div {
        padding: 0rem 3rem;
    }

    >div:has(form) {
        height: auto;
        box-shadow: var(--box-shadow);
        /* counteracts the pseudo-padding that text can give to the top of parent containers */
        padding-bottom: 10px; 
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 1rem 0;
    gap: 1rem;

    >div {
        display: flex;
        gap: 3rem;
    }

    .input-label-group {
        display: flex;
        flex-direction: column;
    }
}

#user-has-account {
    margin: 0.5rem 0;

    &::after {
        content: "Log in";
        color: var(--color-accent);
        font-weight: 500;
    }
}

button {
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem 3rem;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
}

